body {
    background-color: #252525; 
    color: #fff;
    font-family: Arial;
}
  
h2 {
    color: #00a2ff;
}

a {
    color: #00a2ff;
}

input[type="text"] {
    background-color: #444;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
}

.left-column {
    background-color: #333;
    padding: 20px;
}

.middle-column {
    background-color: #252525;
    padding: 20px;  
}

.right-column {
    background-color: #333;
    padding: 20px;
}

.left-column {
    float: left;
    width: 20%; 
    box-sizing: border-box; 
}

.middle-column {
    float: left;
    width: 60%; 
    box-sizing: border-box; 
}

.right-column {  
    float: right;
    width: 20%;
}
